body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Reset the counter on the main ordered list */
article ol {
  counter-reset: section;
  list-style-type: none;
}
/* Style for the main list items */
article ol > li {
  counter-increment: section;
  
  
}
/* Before each list item in the main list, insert the counter */
article ol > li::before {
  content: counter(section) ". ";
  
}
/* For nested lists (2nd level), add a new counter and reset */
article ol > li > ol {
  counter-reset: subsection;
  padding-inline-start: 3.5em;
  
}
/* For nested list items, increment the subsection counter */
article ol > li > ol > li {
  counter-increment: subsection;
  position: relative;
}
/* Format the second-level list items with main section and subsection */
article ol > li > ol > li::before {
  content: counter(section) "." counter(subsection) " ";
  position: absolute;
  text-align: right;
  left: -2.8em;
}